{% extends 'webapp/base.html' %}

{% block content %}

{% if user.is_authenticated and user.is_superuser %}
<p align="right"><a href="{% url 'mainproduct_new' %}" class="btn btn-warning" role="button">Add New Mainproduct</a></p>
{% endif %}

<br>
{% for mainproduct in mainproducts %}
	<div class="custom-card1">
		<div class="date">
			<p>Added: {{ mainproduct.added_date }}</p>
		</div>
		<h2 ><a href="{% url 'mainproduct_detail' pk=mainproduct.pk %}" style="color:#000000">Product: {{ mainproduct.name }}</a></h2>
		<p>Components: {{ mainproduct.components|linebreaksbr }}</p>
	</div>
{% endfor %}
<div class="pagination" style="margin-left:120px">
    <span class="step-links">
        {% if mainproducts.has_previous %}
            <a href="?page={{ mainproducts.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ mainproducts.number }} of {{ mainproducts.paginator.num_pages }}.
        </span>

        {% if mainproducts.has_next %}
            <a href="?page={{ mainproducts.next_page_number }}"> Next</a>
        {% endif %}
    </span>
</div>
{% endblock %}