{% extends 'webapp/base.html' %}          

{% block content %}
  <!-- <div class='content custom-container'> -->
  <!-- <div class='row'>  -->
  <!-- <div class='col-md-8'> -->
  <div class="custom-card">
    <h2>Sign up</h2>
    <br />
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p class='custom-input'>
          <!-- {{ field.label_tag }}<br> -->
          {{ field }}
          {% if field.widget %}
            <small style="color: grey">{{ field.widget }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <div class="g-recaptcha" data-sitekey="6Lf9tTUUAAAAAAzrdzobsKWrjfc69Or3f32GG8or"></div>
      <br>
      <button type="submit">Sign up</button>
    </form>
  </div>
  <!-- </div> -->
  <!-- </div></div> -->
{% endblock %}